@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
body{
    background-color: #f8eded;
   
}
.container {
    width: 40rem;
    margin:auto;
    justify-content: center;

    display: grid;
    grid-template-rows: 5rem 10rem 20rem 5rem;
    grid-template-columns: repeat(3, 1fr) 10rem;
    grid-gap: 1rem;
}  
 * {
    color:#fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 100;
   
    
    
}

.box  {
    background-color: #ca8a8b;
    text-align: center;
}

.header{
   grid-area: 1 / 1 / 2 / 5;
   text-align: center;
   font-size: 1rem;
   text-transform:uppercase;
   display: flex;
   align-items: center;
   justify-content: center;
  
   
}

.sidebar {
 grid-area: 2 / 4 / 4 / 5 ;
 padding: 1rem;
 text-align: start;
}

.maincontent{
 grid-area: 3/ 1 / 3 / 4 ;
}

.boxet {
  width: 10rem; 

}

.footer {
 grid-area: 4 / 1 / 5 / -1;
}

img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    
 
}

.header-h1 {
    letter-spacing: .2rem;
} 

.button {
    padding: .3rem;
    margin-top: 1rem;
    background-color: #e2bcb7;
    color: #2f5d62;
    border: none;
    border-radius: 4px;
    letter-spacing: .1rem;
    box-shadow: 0 2rem 5rem black;
    margin-left: 2rem;
    cursor: pointer;
}

.button:hover {
    transform: translateY(2px);
}

.footer1 {
    padding: 1rem;
    text-align: start;
}